


/*.tasks{
  background-color: #f5d556;
  border: 1px solid #f5d556;
  border-radius: 20px;
  height: 400px;
  padding: 30px 100px;
  margin-bottom: 40px;
  overflow-y: scroll;}*/



ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
width: 100%;
margin-left: -3%;
  padding: 10px 10px;
  margin: px %;
overflow-y: scroll;
}

.remove{
  margin-left: auto;
  cursor: pointer;
}

.bi-x-octagon-fill{
  color: red;
}

.strike{
  text-decoration: line-through;
}

.show{
  display: none;
}




/**/

* {
  padding: 0;
  margin: 0;
  font-family: "", sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B5B5B5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B5B5B5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B5B5B5;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}


bod {
  max-width: 100%;
  height: 100vh;
  padding: 25px;
  background-color: #262626;
  
}


.list {
  height: 100px;
  overflow:;
  margin-bottom: 45px;
  }
.app {
height:100%;
width: 100%;
position: fixed;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: 25px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app2 {
width: 100%;
position: absolute;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: 25px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app2 p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app2b {
height:100%;
width: 100%;
position: absolute;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app2b p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app2c {
height:100%;
width: 100%;
position: absolute;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app2c p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app2d {
height:100%;
width: 100%;
position: fixed;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app2d p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}


.app2e {
height:100%;
width: 100%;
position: fixed;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app2e p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app2f {
height:100%;
width: 100%;
position: fixed;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:block;
}

.app2f p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app4 {
height:100%;
width: 100%;
position: absolute;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app4 p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}


.app3 {
height:100%;
width: 100%;
position: fixed;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app3 p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app5 {
width: 100%;
position: absolute;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: 25px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app5 p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}


.app6 {
width: 100%;
position: absolute;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: 25px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app6 p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}

.app7 {
width: 100%;
position: absolute;
border-radius: 5px;
max-width: px;
text-align: center;
z-index:100;
padding-bottom: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
padding-bottom: 25px;
overflow: hidden;
background-color: rgb(255, 255, 255);
display:none;
}

.app7 p {
color: #838383;
margin: 4% auto;
width: 260px;
padding: 1px;
}


h2 {
  font-size: 25px;
  padding-bottom: 25px;
  line-height: 0;
  color: #09A7BA;
  font-weight: 300;
  padding: 20px;
  padding-top: 40px;
}

.h {
  font-size: 25px;
  padding-bottom: px;
  line-height: 0;
  color: #09A7BA;
  font-weight: 300;
  padding: 20px;
  padding-top: px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: ;
}


.usertitle {
  font-size: 20px;
  padding-bottom: 25px;
  line-height: 0;
  color: #09A7BA;
  font-weight: 300;
  padding: 20px;
  padding-top: 40px;
}


.fa {
  margin-top: 25px;
  color: rgba(0,0,0,0.15);
  font-size: 3em;
}

ul {
  margin-top: 25px;
  padding: 0 20px;
  padding-bottom: 60px;
}

li {
 border: 0.1rem solid #000;
  list-style: none;
  font-size: 1.1rem;
  line-height: 3rem;
  color: #616161;
  max-width: px;
}

li:hover {
  color: red;
  cursor: pointer;
  background-color: #efefef;
}

li:after {
    font-family: FontAwesome;
  color: #FFFFFF;
    content: "\f00d";
  margin-left:px;
  position: absolute;
  display:none;
}

li:hover:after {
    font-family: FontAwesome;
    color: red;
    content: "\f00d";
}



button {
  font-weight: 300;
  margin: 20px 0;
  line-height: 2.5rem;  
  font-size: 1.7rem;
  width: 2.5rem;
  background-color: #7A7B7B;
  border: none;
  color: #ffffff; 
  border-radius: 50%;
}

#send {
  font-weight: 300;
  margin: 20px 0;
  line-height: 2.5rem;  
  font-size: 1.7rem;
  width: 2.5rem;
  font-size: 1rem;
  background-color: #09A7BA;
  border: none;
  color: #ffffff; 
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

#send:hover {
  background-color: #B6B6B6;
  cursor: pointer;
}

button:hover {
  background-color: #B6B6B6;
  cursor: pointer;
}

button:focus {
  outline-width: 0;
}

#inputshop, #inputname, #inputtel, #inputemail {
  line-height: 2rem;
  font-size: 1.2rem;
  padding: 0 10px;
  border-top: none;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: #616161;
  text-align: center;
}

#inputshop:focus, #inputname:focus, #inputtel:focus, #inputemail:focus {
  border-bottom: 1px solid #8888AC;
  outline-width: 0;
  
}

#market {
background-color: rgba(255, 255, 255, 0.8);
border-radius: 5px;
max-width: 300px;
text-align: center;
padding: 60px 0;
margin: 4% auto;
top: 20%;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.items:hover {
  background-color:#00C5B6;

}


#inputname  {
}

#inputtel {
margin-bottom: 30px;
}


placeholder {
  text-align:center;
}
form {
  text-align:center;
}

#contactform {
left: 42%;
top: 15%;
position: absolute;
background-color: #fff;
width: 306px;
line-height: 3em;
margin: auto;
text-align: center;
box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
border-radius: 5px;
}
#contactform p {
color: #838383;
}

.closepopup {
cursor: pointer;
font-size: 25px;
width: 20%;
left: 80%;
font-size: 16px;
top: -1%;
position: relative;
color: #B9B3B3;
position: absolute;
}

.openpopup {
width: 80%;
margin: auto;
font-size: 14px;
box-shadow: 0 0 5px rgba(134, 134, 134, 0.6);
background-color: #FFF;
border-radius: 5px;
background-color: #09A7BA;
color:#fff;
padding: 10px;
cursor: pointer;
font-weight: 700;
transition-duration:1s;
}

.openpopup2 {
width: 80%;
margin: auto;
font-size: 14px;
box-shadow: 0 0 5px rgba(134, 134, 134, 0.6);
background-color: #FFF;
border-radius: 5px;
background-color: #797D7E;
color:#fff;
padding: 10px;
margin-top:10px;
cursor: pointer;
font-weight: 700;
transition-duration:1s;
}

.openpopup3 {
width: 80%;
margin: auto;
font-size: 14px;
box-shadow: 0 0 5px rgba(134, 134, 134, 0.6);
background-color: #FFF;
border-radius: 5px;
background-color: #797D7E;
color:#fff;
padding: 10px;
margin-top:10px;
cursor: pointer;
font-weight: 700;
transition-duration:1s;
}

.openpopup1:hover {
background-color: #09A7BA;
}

.tooltipshop, .tooltipshop2 {
color: #fff;
padding: 5px;
width: 50%;
border-radius: 5px;
background: #db0e0ecc;
box-shadow: 0 0 10px rgb(141, 141, 141);
position: absolute;
width: 160px;
margin: -15px -90px auto;
opacity:0;
}

.tooltipshop:after {
font-family: FontAwesome;
color: #fff;
content: "\f129";
margin-left: 8px;
}

.tooltipshop2:after {
font-family: FontAwesome;
color: #fff;
content: "\f129";
margin-left: 8px;
}

.TheNav {
padding:;
height:4.8rem;
width:100%;
background-color:#B8E2F2;
display:block;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: fixed;
left: rem;
bottom: px;
top:rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.TheNav:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.TheNav  {
color: #1B404D;
margin-top: px;
font-size: 16px;
border: ;
-webkit-text-stroke-width: px;
-webkit-text-stroke-color: #;
}
.trayN {
height:px;
width:px;
background-color:#;
display:block;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: fixed;
margin-left: -0.6rem;
bottom: px;
top:rem;
box-shadow: ;
}

.trayN:hover {
box-shadow: ;
}

.trayN  {
color: white;
margin-top: px;
font-size: 1rem;
border: ;
-webkit-text-stroke-width: 0.02rem;
-webkit-text-stroke-color: white;
}

.tray {
height:49px;
width:49px;
background-color:#8FD3EC;
display:block;
border-radius:50%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: absolute;
left: 25px;
bottom: px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray i {
color: #ffffff;
margin-top: 11px;
font-size: 29px;
}

.trayB {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.trayB:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.trayB i {
color: #ffffff;
margin-top: px;
font-size: px;
}


.tray1 {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray1:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray1 i {
color: #ffffff;
margin-top: px;
font-size: px;
}

#tray2 {
height:70px;
width:70px;
background-color:#8FD3EC;
display:block;
border-radius:50%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: absolute;
left: 0rem;
bottom: rem;
top: 4.5rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#tray2:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

#tray2 i {
color: #ffffff;
margin-top: 18px;
font-size: 30px;
}

.tray2b {
height:50px;
width:50px;
background-color:#8FD3EC;
display:block;
border-radius:50%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: absolute;
left: 0rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray2b:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray2b i {
color: #ffffff;
margin-top: 12px;
font-size: 30px;
}

#tray3 {
height:49px;
width:49px;
background-color:#8FD3EC;
display:block;
border-radius:50%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: absolute;
left: 0.4rem;
bottom: px;
top: 2.1rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#tray3:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

#tray3 i {
color: #ffffff;
margin-top: 11px;
font-size: 29px;
}

.tray4 {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray4:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray4 i {
color: #ffffff;
margin-top: px;
font-size: px;
}

.tray2c {
height:49px;
width:49px;
background-color:#8FD3EC;
display:block;
border-radius:50%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: absolute;
left: 0rem;
bottom: rem;
top: 4.5rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray2c:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray2c i {
color: #ffffff;
margin-top: 11px;
font-size: 29px;
}

.tray2d {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray2d:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray2d i {
color: #ffffff;
margin-top: px;
font-size: px;
}

.tray2e {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray2e:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray2e i {
color: #ffffff;
margin-top: px;
font-size: px;
}


.tray5 {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray5:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray5 i {
color: #ffffff;
margin-top: px;
font-size: px;
}

.tray6 {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray6:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray6 i {
color: #ffffff;
margin-top: px;
font-size: px;
}

.tray7 {
height:px;
width:px;
background-color:;
display:;
border-radius:%;
text-align:center;
cursor:pointer;
transition-duration:0.5s;
position: ;
left: rem;
bottom: rem;
top: rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tray7:hover {
box-shadow: 0 0 10px rgb(141, 141, 141);
}

.tray7 i {
color: #ffffff;
margin-top: px;
font-size: px;
}

.count {
position: absolute;
background-color: rgba(212,7,10,1.00);
border-radius: 50%;
width: 22px;
height: 22px;
padding: 2px;
color: #fff;
font-weight: 300;
display:none;
}

.closewindow {
color: #B5B5B5;
position: relative;
float: right;
left: -3%;
cursor:pointer;
width: 20px;
border-radius: 1000%;
height: 20px;
text-align: center;
margin-top: 5px;
}

.closewindow span {
  position:relative;
  bottom: 2px;
}

.items {
  cursor:pointer;
}

#contactform form {
  padding: 10px;
}

</style>

<style>
div.scrollmenuB {
  background-color: ;
  overflow: auto;
  white-space: ; nowrap;

 animation: mymoveCB 32s infinite;
padding: ;
background-color: #0000;
position: ;
position: relative;
    padding:0%;
    margin:0;

    top:0rem;
    left:0;

    width: 100%;
    height: 37rem;
    backgrund:rgba(255,255,255,0.5);}




/**/
.checklist-progressbar ul {
  list-style: none;
  padding: 0 1.25em;
}

.checklist-progressbar input[type="checkbox"] {
  cursor: pointer;
  margin-left: -1.75em;
}


.checklist-progressbar .progressbar {
  box-sizing: content-box;
  position: relative;
  border-radius: 3px;
  background-color: #ddd;
  height: 10px;
  margin-top: 1.5em;
  margin-right: 2.6em;
}
.checklist-progressbar .progressbar .progressbar-inner {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: green;
  transition: all .3s linear;
}

.checklist-progressbar .progressbar .progressbar-value {
 position: absolute;
  top: -.25em;
  right: -2.6em;
  min-width: 2.6em;
  width: 15%;
  font-size: 1em;
  line-height: 1;
  text-align: right;
}

.checklist-progressbar input:checked + label {
  color: rgba(0,0,0,.5);
  font-style: italic;
  text-decoration: line-through;
}

/* .checklist-progressbar li {
  position: relative;
}

.checklist-progressbar input + label::before{
content:'';
display:block;
position:absolute;
top: 50%;
left: 1.5em;
width:0%;
height:1px;
background: rgba(255,0,0,.5);
transition:.25s ease-in-out;
}

.checklist-progressbar input:checked + label::before{
   width: calc(100% - 3em);
} */




/**/
* { box-sizing: border-box;}

/* Style the body */
body { font-family: Arial;
        margin: 0; }

/* Header/logo Title */
.header { padding: 5.625rem;
  text-align: center;
  background: #21B66D;
  color: white; }

/* Style the navigation bar */
@media(min-width:500px) {
    .navBar {
        flex-direction: column;
    }}
@media(min-width:500px) {
    .navBar {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0 0 0;
    }}
.navBar { display: flex;
          background-color: #1B404D; }

/* Style the navigation bar links */
.navBar a {
  color: white;
height: rem;
  padding: 0.875rem 1.25rem; flex-shrink: ;
  text-decoration: none;
  text-align: center; }

/* Change color on hover */
.navBar a:hover {
  background-color: #ddd;
  color: black; }



/* Style the element with the id "myHeader00" */
#myHeader00 {
  background-color: #FFCE00;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 10px;
}


/* Style the element with the id "myHeader00b" */
#myHeader00b {
  background-color: #FFEE00;
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 10px;
}


/* Style the element with the class "myHeader0a" */
.myHeader0a {
  background-color: ;
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 10px;
}
/* Style the element with the id "myHeader0a1" */
#myHeader0a1 {
  background-color: #98CDBD;
}
/* Style the element with the id "myHeader0a2" */
#myHeader0a2 {
  background-color: #156F44;
}
/* Style the element with the id "myHeader0a3" */
#myHeader0a3 {
  background-color: #125B38;
}



/* Style the element with the id "myHeader0" */
#myHeader0 {
  background-color: #FDFD77;
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 1px;
}

#myHeader000{
background:yellow;
padding:35px;
font-size: 20px;
}



/* Style the element with the id "myHeader1" */
#myHeader1 {
  background-color: #9CCC65;
  color: black;
  padding: 40px;
  text-align: center;
  font-size: 35px;
}

/* Style the element with the id "myHeader" */
#myHeader {
  background-color: #9CCC65;
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 30px;
}

/* Style all elements with the class name "city" */
.city {
  background-color: #558B2F;
  color: white;
  padding: 10px;
} 




/**/

:root {
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sans-serif;
text-align: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
text-align: ;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: ;
text-align: ;
}

di {
  display: -webkit-box;
  display: flex;
text-align: ;
}



  .stock-limit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    background-color: #010101;
    width: 400px;
    height: 180px;
    flex-direction: column;
    display: none;}
    em {
      position: absolute;
      width: 80%;
      top: 20%;
      left: 0;
      right: 0;
      margin: 0 auto;
      line-height: 1.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 1.2rem;
    }
  

.banner .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);

  backdrop-filter: blur(5px);
  display: none;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: white;
  overflow: hidden;
  -webkit-animation: animation 20s linear infinite;
  animation: animat 20s linear infinite;
  bottom: -120px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100vh) rotate(360deg);
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100vh) rotate(360deg);
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}
.fa-shopping-cart {
  position: ;
  right: rem;
  top: rem;
  color: ;
}
.fa-shopping-cart:hover {
  color: white;
}
.total-qty {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: white;
  color: black;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  line-height: 1rem;
  font-weight: 600;
  top: 1rem;
  right: 1.5rem;

  user-select: none;
}
.main-cart {
  position: absolute;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  align-self: center;
  -webkit-box-align: center;
  align-items: center;
}


  .img-container {
    position: ;
    height: 185px;
    width: 185px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(35px);}
    img {
      width: 100%;
      align-self: center;
    }
    .out-of-stock-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);

      justify-content: center;
      align-items: center;
      display: none;}
      span {
        font-weight: 900;
        color: rgba(255, 200, 200, 0.75);
        font-size: 1.5rem;
      }

.top-bar {
position:;
  transform: translateY(0.5rem);
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;}
  .fa-apple {
    font-size: 1.5rem;
  }
  .stocks {
    font-size: 0.8rem;
    color: lightgreen;
  }

.card .details {
  position: ;
  height: 220px;
  width: 100%;
top:14.4rem;
  background-color: #1B404D;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px;
  bottom: -165px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
font-size:rem;
}

.card .details .name-fav {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.card .details .name-fav strong {
  font-weight: 600;
}

.fav {
  color: red;
}

.card .details .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  display: none;
}

.details .wrapper p {
  font-size: 0.9rem;
  padding: 5px 0;
  font-weight: light;
}

.card .details .purchase {
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.card .details .purchase p {
  font-weight: 500;
}

.details .purchase .add-btn {
  border-radius: 20px;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 6px 10px;
}

.details .purchase .add-btn:hover {
  background: white;
  color: black;
}

.cart #minicart.card:hover {
  height: 450px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.main-cart .card:hover .details {
  bottom: 0;
}

.cart #minicart.card:hover .wrapper {
  display: block;
}

.side-nav {
  position: absolute;
  background: #010101;
  opacity: 0.95;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  top: 0;
  right: -100%;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-nav .fa-times {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.5rem;
}

.side-nav h2 {
  align-self: center;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
  font-size: 2rem;
  font-weight: 600;
}

.side-nav .cart-items {
  position: absolute;
  width: 90%;
  margin: 0 5%;
  height: 50%;
  top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;}
  .empty-cart {
    margin: auto 0;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
  }

.side-nav .cart-items .cart-item {
  height: 5rem;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid whitesmoke;}
  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
  .cart-img {
    width: 5rem;
    height: 5rem;
    justify-content: center;}
    img {
      width: 100%;
      align-self: center;
    }
  


.side-nav .final {
  position: absolute;
  align-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  bottom: 10%;
}

.side-nav .final strong {
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 1rem;
}

.side-nav .final .action {
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.side-nav .final .action .btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 1px solid white;
  margin-right: 20px;
  border-radius: 10px;
}

.side-nav .final .action .btn:hover {
  color: black;
  box-shadow: inset 20em 0 0 0 white;
}

.qty-change {
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: baseline;
  align-items: baseline;
}

.btn-qty {
  border: 1px solid white;
  border-radius: 50%;
  padding: 2px 5px;}
  &:hover {
    background: white;
    color: black;
  }


.qty {
  padding: 2px 5px;
}
.invoice {
  position: absolute;
  height: 90%;
  width: 90%;
  background: rgba(0, 0, 0, 0.95);
  padding: 5% 4%;
  margin: 0 auto;
  left: 0;
  right: 0;
  align-self: center;
  flex-direction: column;
  border-radius: 20px;
  transition: 0.25s;}
  .shipping-items {
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;}
    .item-names,
    .items-price {
      flex-direction: column;
      justify-content: space-around;
    }
  
  .payment {
    flex-direction: column;}
    em
    div {
      margin-top: 10px;
      font-weight: 600;
      justify-content: space-between;
    }
  
  .order {
    position: absolute;
    bottom: %;
top:10%;
    width: 40%;
    justify-content: space-around;}
    .btn {
      padding: 1rem 4rem;
      border-radius: 10px;
      font-size: 1.2rem;
top:rem;
    }
    .btn-order {
      background: #00bbf9;
    }
    .btn-cancel {
      background: #bb342f;
    }
  
  .order-details {
    height: 300px;
    flex-direction: column;
    justify-content: space-around;}
    em
    p {
      border-bottom: 1px dashed white;
      padding-bottom: 10px;
    }
    em {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .thanks {
      position: absolute;
      text-align: center;
      margin: auto;
      border: none;
      left: 0;
      right: 0;
      bottom: 55%;
    }
    p {
      font-size: 1.1rem;
      span {
        font-weight: 600;
      }
    
  

.btn-ok {
  position: absolute;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: auto;
  bottom: 10%;
  left: 0;
  right: 0;
  background: #5bc0be;
z-index: ;
}
@media (max-width: 768px) {
  .side-nav {
    width: 80%;
  }
  .invoice .order {
    width: 60%;
  }
  .cart #minicar{
    overflow: scroll;
  }
}
@media (max-width: 576px) {
  .side-nav {
    width: 100%;
    .cart-img {
      display: none;
    }
  }
  .invoice .order {
    width: 80%;
  }
  .nav {
    width: 576px;
    height: 4rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    filter: invert(1);
  }

    .card {
      margin: px auto;
    }


/**/

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #1B404D;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.container {
  position: ;
  height: vh;
  width: vw;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#ffffff),
    to(#8FD3EC)
  );
background: ;
  background: linear-gradient(to bottom, #ffffff, #8FD3EC);
  overflow: ;}
@media(max-width:1024px) { 
    .container {
        max-width: 100%;
    }
    header .container {
        max-width: 96%;
    }
}
header {
    border-bottom: 1px solid rgb(243, 243, 243);
}
header .container{
    display: flex;
    justify-content:space-between;
    padding: 15px 0;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
     margin: 0.5rem;
}
.logo {
    text-transform: uppercase;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    line-height: 2rem;
}
.bag {
    font-size: 28px;
    position: relative;
}
.bag span {
    display: block;
    background: #E20000;
    color: #fff;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    border-radius: 100%;
    line-height: 1.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    right: -12px;
    top: 19px;
}
@media(min-width:700px) {
    .cards {
        display: flex;
        justify-content: space-around;
        padding: 3rem 0 0 0;
    }
    .card {
        width: 34%;
    }
}

.card {
  position: relative;
  flex-shrink: 20%;
  height: 29rem;
  width: 22rem;
  background-color: #B8E2F2;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 7px 15px 2px #4d4b4b;
  -webkit-transition: 0.5s;
  transition: 0.5s;}

.card {
    border: solid #ccc 1px;
    border-radius: 20px;
    overflow: hidden;
    line-height: 1.5rem;
    padding-bottom: 20px;
    margin: 15px 5%;
text-align: center;
font-size: rem;
}
.card img {
    width: 34%;
margin-top: 0.5rem;
}
.card .title {
    font-weight: 900;
    font-size: 2.5rem;
text-align: center;
margin-top: 2rem;
}
.card .price {
    font-size:3.6rem;
    font-weight: 300;
    text-align: right;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
margin-right: 6%;
}

button {
  border: none;
  background: none;
  outline: none;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
width: 5rem;
font-size: 1.2rem;

 border-radius: px;
    display: block;
    background: #;
    color: #;
    text-transform: uppercase;
    text-align: center;
    height: rem;
    width:%;
    line-height: rem;
    margin: auto;
    transition: all .3s ease;
}

button {
    border-radius: 80px;
    display: block;
    background: #0000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 3rem;
    width: 30%;
    line-height: 3rem;
    margin: 5%;
    transition: all .3s ease;
}
button:hover {
    background: #2c2c2c;
}
.cart {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    box-shadow: 0px 0px 5px #d4d4d4;
    font-size: 16px;
    transition: all .5s ease;
z-index: 8;
}
.activo {
    right: 0;
}

.cart #minicart{
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 95%;
    top: 4rem;
}
.cart #minicart {
    padding: 1.3rem;
}
.cart #minicart .button {
    margin-top: 2rem;
}
.cart table {
    border-collapse: collapse;
}
.cart th, .cart td {
    padding: 10px;
    text-align: left;
}
.closecart {
    font-size: 2rem;
    position: absolute;
    right: 10px;
}
.deletebtn {
    display: block;
    background: #E20000;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 100%;
    line-height: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}



/**/

.info {

  width: 150rem;
  height: 80px;
  background-color: #0000;
  font-weight: bold;
font-size: 40px;
color: #0000;
  position: relative;
  animation: mymoveM 44s infinite;
}

#div1 {animation-timing-function: ease;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymoveM {
 0%  {left: 130%;}
  % {left: %;}
12.5% {left: %;}
36% {left: 0%}
40% {left: %}
48% {left: -100%;}
50.01% {left: %}
52% {left: -%;}
% {left: %;}
68% {left: -%}
70% {left: %}
80.01% {left: %}
82% {left: -250%;}
90% {left: -%;}
94% {left: -300%}
99% {left: %}
99.8% {left: -%}
100% {left: -400%}

 4%   {background-color: #DDE900;}
  8%  {background-color: #ddd;}
  36%  {background-color: #CDE8F1;}
  50% {background-color: #0277BD;}
95% {background-color: #0000;}

 0%   {color: #0000;}
0.7% {color: black;}
  25%  {color: black;}
  74%  {color: white;}
  79% {color: black;}
100% {color: #00000}
}



/**/
.fixA{
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
width: 100%;
margin-left: %;
  padding: px px;
  margin: 20px %;
overflow-y: scroll;
}

.fixA {
  list-style: none;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #616161;
  max-width: px;
}

.fixA:hover {
  color: red;
  cursor: pointer;
  background-color: #efefef;
}

.fixA:after {
    font-family: FontAwesome;
  color: #FFFFFF;
    content: "\f00d";
  margin-left:5px;
  position: ;
  display:none;
}

.fixA:hover:after {
    font-family: FontAwesome;
    color: red;
    content: "\f00d";
}


</style>

<style>

.containerCal{
  width: px;
  height: rem;
  position: relative;
  left: %;
  top: 50%;
  margin-left: px;
  margin-top: -px;
  background-color: white;
  border-radius:30px;
  box-shadow: 10px 10px 3px grey;
}

#title{
  color:#000;
  font-size:25px;
  margin-top:10px;
}

.textBox{
  width:%;
  margin-bottom:10px;
border-radius:2px;
overflow: ;
float: ;
position: relative;
}

#buttons{
  margin-left:-19.5px;
}

.btn{
padding: 1rem;
  width:50px;
  height:50px;
  margin-top:5px;
}

.liCal {
width:100%;}


/**/

* {
  box-sizing: border-box;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create tree unequal columns that floats next to each other */
/* Sidebar/left column */
.side1 {
  flex: 50%;
  background-color: #D5F1A8;
  padding: px;
}


/* Sidebar/right column */
.side2 {
  flex: 50%;
  background-color: #D5F1A8;
  padding: px;
}


/* Main column */
.main {
  flex: 35%;
  background-color: white;
  padding: px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #CDE8F1;
}

/* Responsive layout - when the screen is less than 600px wide, make the tree columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row, .navBar {   
    flex-direction: column;
  }
}



/**/

* {
  box-sizing: border-box;
}

/* Style the navigation bar */
@media(min-width:500px) {
    .rowB {
        display: flex;
        justify-content: space-around;
        padding: 0.12rem 0 0 0;
    }}
.rowB { display: flex;
          background-color: #1B404D; }

/* Style the navigation bar links */
.rowB a {
  color: white;
height: rem;
  padding: 0.875rem 1.25rem; flex-shrink: ;
  text-decoration: none;
  text-align: center; }

/* Change color on hover */
.rowB a:hover {
  background-color: #ddd;
  color: black; }

/* Column container */
.rowB {  
  display: flex;
  flex-wrap: wrap;
}

/* Create tree unequal columns that floats next to each other */
/* Sidebar/left column */
.sideB1 {
  flex: 30%;
  background-color: #1B404D;
  padding: 0.7rem;
}


/* Sidebar/right column */
.sideB2 {
  flex: 30%;
  background-color: #1B404D;
  padding: 0.7rem;
}


/* Main column */
.mainB {
  flex: 30%;
  background-color: #1B404D;
  padding: 0.7rem;
}

/* Responsive layout - when the screen is less than 600px wide, make the tree columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .rowB, .navBar {   
    flex-direction: column;
  }
}





/**/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion*/




/**/
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #ddd;
}

.flex-container > .iv {
  background-color: #;
  width: px;
  margin: 10px;
  text-align: center;
  line-height: px;
  font-size: px;
}/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-wrap_nowrap8*/
</style>

<style>
.code { font-size:1.7rem;}
.description {  font-size:1.3rem;}




/**/
.conf {margin-top: -3.5rem; margin-left: 2%;}      
.confir { background-color:#000;
  color: ; margin-top: -10%; z-index:20; background: ; width:8rem;}

.conD {margin-top: 2.9rem; margin-left: -1.3rem;}
.conE {margin-top: rem; background: #0000; width: 8rem; height: rem; margin-left:18%; border-radius: 80px 80px 80px 80px; color: ; text-align: center; border: solid 1px;}
.con {margin-left: 5%; margin-top: -2.6rem; background-color: white; padding:0.4rem; width: 12.9%; border: solid 1px; border-radius: 80px 80px 80px 80px; text-align: center;}




/**/
.flipswitch {
  position: relative;
  background: white;
  width: 120px;
  height: 40px;
  -webkit-appearance: initial;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
}

.flipswitch:after {
  position: absolute;
  top: 5%;
  display: block;
  line-height: 32px;
  width: 45%;
  height: 90%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in 0s;
  color: white;
  border: #888 1px solid;
  border-radius: 3px;
}

.flipswitch:after {
  left: 2%;
  content: "Repor";
background: red;
}

.flipswitch:checked:after {
  left: 53%;
  content: "OK";
background: blue;
}



/**/
.columnLI1 {
  float: left;
  width: 25%;
  padding: px;
  height: 5rem; 
}

.columnLI2 {
  float: left;
  width: 25%;
  padding: px;
  height: 5rem; 
}

.columnLI3 {
  float: left;
  width: 25%;
  padding: px;
  height: 5rem; 
}
.columnLI4 {
  float: left;
  width: 25%;
  padding: px;
  height: 5rem; 
}
/* Clear floats after the columns */
.rowLI:after {
  content: "";
  display: table;
  clear: both;
}




/**/
.button2  {
	display: none;
	width: 160px;
	background-color: #ddd;
	border: none;
	padding: 10px 20px;
	text-align: center;		
	cursor: pointer;
	border-radius: 16px;
	margin: 0 auto;
	text-decoration: none;
  }
.button2:hover  {
	background-color: #cacaca;
	text-decoration: none;
	font-style: oblique;
}
  /**/
table, th, td {
  border:1px solid black; text-align:center;
font-size: 1.2rem;
}

.ClickB{margin-top: rem; margin-left: %; background: #ddd; width: 40%; height:2.5rem; border-radius: 10px 10px 10px 10px; float: right;}


.ClickA{margin-top: rem; margin-left: %; background: #ddd; width: 40%; height:2.5rem; border-radius: 10px 10px 10px 10px; float: left;}


.Pclick{ margin-left: %; margin-top: rem; background-color: white; padding:rem; width: 5rem; border: solid 4px; text-align: center;}

.Pclick2{ margin-left: %; margin-top: rem; top:; background-color: white; padding:rem; width: 5rem; border: solid 4px; text-align: center;}



/*https://codepen.io/irwingb1979/pen/poWpzPX
Copyright (c) 2022 by Irwin (https://codepen.io/irwingb1979/pen/poWpzPX)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/

/*https://codepen.io/leonardo-dev/details/XgKJmG
Copyright (c) 2022 by Leonardo de Melo (https://codepen.io/leonardo-dev/pen/XgKJmG)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*Copyright (c) 2022 by aziz (https://codepen.io/3azozAlansari/pen/yLpvXdy)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*Copyright (c) 2022 by Bikash Panda (https://codepen.io/phpcodertech/pen/yLMrJvv)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*https://codepen.io/djoba/embed/XOMQPP/?theme-id=modal
Copyright (c) 2022 by djoba (https://codepen.io/djoba/pen/XOMQPP)
Fork of an original work Simple shopping cart with localstorage (https://codepen.io/ShutikAlexander/pen/pKzgMZ

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*https://codepen.io/Su1312/pen/bGEQgKv https://stackoverflow.com/questions/63012352/attach-file-to-gmail-using-only-html-and-javascript

Copyright (c) 2022 by Maximus (https://codepen.io/Su1312/pen/bGEQgKv)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_webstorage_local_clickcount*/

/*https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_win_localstorage2 https://www.w3schools.com/jsref/prop_win_localstorage.asp*/

/*https://codepen.io/Su1312/pen/bGEQgKv https://stackoverflow.com/questions/63012352/attach-file-to-gmail-using-only-html-and-javascript*/

/*Copyright (c) 2022 by saeed (https://codepen.io/madsadi/pen/RwVQpjX)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/

/*Copyright (c) 2022 by sujanchhetri (https://codepen.io/sujanchhetri/pen/BaBRQqv)
Fork of an original work Build a JavaScript Calculator  (https://codepen.io/zynzun/pen/QEdWjV

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*https://www.demo2s.com/javascript/javascript-dom-element-getelementsbyclassname-method.html*/

/*Copyright (c) 2022 by Tim (https://codepen.io/betatim/pen/abpjwaZ)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*https://codepen.io/Su1312/pen/bGEQgKv https://stackoverflow.com/questions/63012352/attach-file-to-gmail-using-only-html-and-javascript*/

/*Copyright (c) 2022 by Dean (https://codepen.io/josdea/pen/RRWQrJ)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*https://stackoverflow.com/questions/4148499/how-to-style-a-checkbox-using-css*/



